body {
  background-color: rgb(241, 207, 195);
}

#header {
  display: flex;
  flex-direction: column;
  justify-self: center;
  padding: 20px 0px 50px 0px;
}

#title {
  text-align: center;
}

#grid {
  display: flex;
  width: 50%;
  justify-self: center;
}

.grid-column {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.grid-row {
  background-color: rgb(112, 112, 112);
  border: 1px black solid;
  color: white;
  flex: 1;
  aspect-ratio: 1 / 1;
  filter: saturate(0);
}
